body {
  background-color: #0f0f0f;
  color: white;
}

body {
  background-color: black;
  color: white;
}

.pregunta {
  color: #8a2be2;
}

img {
  display: block;
  margin: 30px auto;      /* centra la imagen */
  width: 300px;           /* tamaño */
  border-radius: 12px;    /* bordes suaves */
  box-shadow: 0 0 20px #8a2be2; /* brillo violeta */
}

img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.07);
}

button {
  background-color: #8a2be2;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #a64dff;
}

nav {
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  color: #8a2be2;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

hr {
  border: 1px solid #8a2be2;
  width: 60%;
  margin: 40px auto;
}

body {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

nav a:hover {
  color: white;
}

button {
  background-color: #8a2be2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover, .btn-neon:hover {
    background-color: #bb00ff;
    color: black; /
    box-shadow:
        0 0 5px #bb00ff,
        0 0 10px #bb00ff,
        0 0 20px #bb00ff,
        0 0 40px #bb00ff;
    transform: scale(1.07);
}

.btn-link {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.4s;
}

.btn-link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

body {
    background-color: #0a0a0a;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

button, .btn-neon {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    background-color: transparent;
    color: #bb00ff;
    border: 2px solid #bb00ff;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

hr {
    border: none;
    height: 3px;
    width: 60%;
    margin: 40px auto;
    background: linear-gradient(
        to right,
        transparent,
        #bb00ff,
        transparent
    );
    box-shadow: 0 0 20px #bb00ff;
}
